<html>
    <head>
        <body>
            <form name="fileupload" action="/fileupload" enctype="multipart/form-data" method="POST">
                <input type="file" name="filetitle">
                <input type="submit" value="submit">
            </form>
        </body>
    </head>
</html>